$white: white;
$red: red;
$black: #000;

$primary: #192a56;
// $primary:#69a4a4;
$secondary: #273c75;
// $secondary: #69a4a4;
// $secondary: $red;
$link_color: $primary;

$border_color_avatar: $secondary;
