@import "../styles/base";

.main {
  margin-left: 25%;
  .main-inner {
    position: relative;
    color: $black;
    .main-section {
      padding: 3rem;
      background-color: $white;
      max-width: 850px;
      h1.main-title {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
